{% block footer %}
<div class="container-fluid mt-2 p-3" style="background-color: #9affff;bottom:0vh">
    <div class="bg-gray-100 text-dark-700 py-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-1 text-end col-1">
                    <i class="fas fa-truck fa-2x"></i>
                </div>
                <div class="col-lg-3 text-lg-start text-center col-11">
                    <div class="service-text">
                        <h6 class="text-uppercase">Livraison &amp; Retour gratuit </h6>
                        <p class="text-muted font-weight-light text-sm mb-0">
                            Expédition gratuite à partir de 100€
                        </p>
                    </div>
                </div>
                <div class="col-lg-1 text-end col-1 my-3">
                    <i class="fas fa-coins fa-2x"></i>
                </div>
                <div class="col-lg-3 text-lg-start text-center col-11 my-3">
                    <div class="service-text">
                        <h6 class="text-uppercase">Remboursement garanti</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">
                            30 Jours remboursement garanti
                        </p>
                    </div>
                </div>
                <div class="col-lg-1 text-end col-1">
                    <i class="fas fa-headset fa-2x"></i>
                </div>
                <div class="col-lg-3 text-lg-start text-center col-11">
                    <div class="service-text">
                        <h6 class="text-uppercase">0932323232</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">
                            24/7 Support Client
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-md-4 col-12 text-center pt-4">
            <p>Rejoignez-nous sur les réseaux sociaux !</p>
            <div>
                <i class="fab fa-facebook-square fa-2x mx-3"></i>
                <i class="fab fa-twitter-square fa-2x mx-3"></i>
                <i class="fab fa-instagram-square fa-2x mx-3"></i>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #041a53">
    <div class="row justify-content-between">
        <div class="col-md-4 col-12 text-center pt-3 m-md-2">
            <i class="fab fa-cc-visa fa-2x mx-2" style="color: #9affff"></i>
            <i class="fab fa-cc-mastercard fa-2x mx-2" style="color: #9affff"></i>
            <i class="fab fa-cc-paypal fa-2x mx-2" style="color: #9affff"></i>
            <i class="fab fa-cc-amex fa-2x mx-2" style="color: #9affff"></i>
        </div>
        <div class="col-md-4 col-12 text-center p-3 m-md-2">
            <p class="m-0" style="color: #9affff">
                © 2021 Figyua. Tous droits reservés.
            </p>
        </div>
    </div>
</div>
{% endblock %}